* {
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    font-family: 'Tahoma', sans-serif;
    font-size: 11px;
    background: url(../img/bg.jpg) repeat-x bottom, #7c7c7c;
    background-attachment: fixed;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p, a, ul, li, input, label, button, textarea {
    margin: 0;
    padding: 0;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
}
input {
    font-size: 11px;
}
input[type="text"] {
    border: 1px solid #7f9db9;
    padding: 0 5px;
}
input[type="submit"] {
    height: 20px;
    padding: 1px 6px;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.wrap {
    margin: auto;
    width: 1200px;
    padding: 0 10px;
}

/* Header
------------------------------------------------------------------------------------ */
.header_container {
    position: fixed;
    width: 100%;
}
/* Nav */
.header_container .nav_container {
    height: 38px;
    padding-top: 10px;
    background: #4d5254;
}
.nav_container .nav {
    height: 28px;
    padding-left: 85px;
}
.nav_container .nav li {
    display: inline-block;
    height: 100%;
    margin: 0px 20px;
}
.nav_container .nav li a {
    padding: 6px 30px 0;
    display: block;
    height: 100%;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.nav_container .nav li a.special {
    color: #e63c00;
    text-transform: uppercase;
}
.nav_container .nav li.active {
    background: url(../img/nav_bg.jpg) repeat;
    border-radius: 5px 5px 0 0;
}
.nav_container .nav li.active a {
    color: #030303;
}
.nav_container .nav li.active a.special {
    color: #e63c00;
}

/* Center */
.header_container .header {
    height: 130px;
    padding: 10px 0;
    background: url(../img/header_bg.png) repeat;
}
.header_container .header .wrap {
    height: 100%;
}
.header .section {
    background: url(../img/header_section_bg.png);
    height: 100%;
    float: left;
    margin-right: 12px;
    position: relative;
    border: 1px solid #939597;
    border-radius: 4px;
    overflow: hidden;
}
.header .registration {
    width: 210px;
}
.header .registration {
    padding: 8px 5px;
}
.header .registration form p {
    text-align: right;
    margin-bottom: 5px;
}
.header .registration form p span {
    margin-right: 3px;
}
.header .registration form p.remember {
    text-align: center;
}
.header .registration form p.remember input[type="checkbox"] {
    float: left;
    margin-left: 70px;
}
.header .registration form p.remember span {
    margin-left: -5px;
}
.header .registration form p.enter {
    padding-left: 20px;
}
.header .registration form p.enter a {
    float: left;
}
.header .registration form p.enter input[type="submit"] {
    float: right;
}
.header .registration form input[type="text"] {
    width: 140px;
    height: 15px;
}
.header .registration form a {
    color: black;
}
.header .search {
    width: 230px;
    padding: 20px;
}
.header .search .search_section {
    position: relative;
    margin-bottom: 14px;
}
.header .search .search_section input[type="text"] {
    width: 100%;
    height: 23px;
}
.header .search .search_section input[type="button"] {
    background: url(../img/search_btn.png) no-repeat;
    width: 23px;
    height: 19px;
    position: absolute;
    top: 1px;
    right: 10px;
    border: none;
    cursor: pointer;
}
.header .section p.name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    background: #aeb0b0;
    text-align: center;
    color: white;
    font-weight: bold;
}
.header .search_list {
    padding: 15px 20px;
}
.header .search_list ul li {
    display: inline-block;
    list-style: none;
    text-align: center;
    padding: 0 5px;
}
.header .search_list ul li a {
    text-decoration: none;
}
.header .search_list ul li a p {
    color: black;
}
.header .section p.name a {
    color: white;
    text-decoration: none;
}
.header .section p.name a:hover {
    text-decoration: underline;
}

.header .logo {
    float: right;
}
.header .header_nav {
    float: right;
    margin-top: 20px;
}
.header .header_nav li {
    text-align: right;
    list-style: none;
    margin-bottom: 5px;
}
.header .header_nav li a {
    color: black;
}
.header .header_nav li a.contacts {
    color: white;
}

/* Line */
.header_container .header_line {
    height: 18px;
    background: url(../img/header_line.png) repeat-x;
}


/* Main Container
------------------------------------------------------------------------------------ */
.main_container {
    height: 100%;
    min-height: 100%;
}
.main_container .content {
    padding: 190px 15px 0 65px;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    width: 700px;
    margin: auto;
    background: white;
}
.main_container .content h1 {
    color: #e54416;
    font-size: 14px;
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: normal;
}
.main_container .content p {
    line-height: 23px;
    text-align: justify;
    color: #555555;
    margin-top: 15px;
}












